* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logopart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 118px;
    width: 100%;
}
.logo{
    margin-left: 20px;
    margin-top: 20px;
}
.logo img {
    width: 175px;
    height: 70px;
}

.nav{
    margin-right: 30px;
    display: flex;
    gap: 20px;
}

.nav a{
    font-size: 15px;
    font-style: bold;
    text-decoration: none;
    color: #000;
}
.menu{
    display: none;
}
.nav-part{
    display: none;
}
.nav-part a{
    font-size: 15px;
    color:#000;
    line-height: 40px;
    text-decoration: none;
}

@media(max-width:990px){
    .menu{
        display: block;
    }
    .nav a{
        display: none;
    }
    .nav-part{
        height: 60vh;
        width: 100%;
        background: #ffffff71;
        position:absolute;
        display: flex;
        top: 118px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;
        z-index: 10;
        backdrop-filter: blur(10px);
    }
    .nav-part a{
        display: block;
        text-align: center;
        line-height: 58px;
        font-weight: 600;        
    }
}
.banner{
    background: url(skill-banner.jpg)no-repeat,center,center;
    background-size: cover;
    background-position: center;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner h1{
    font-size: 43px;
    color: white;   
}
.banner p{
    color: white;
    line-height: 25PX;
}
@media(max-width:560px){
    .banner{
        background-size: cover;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.content{
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0px;
}
.content h3::after{
    content: '';
    background:red ;
    display: block;
    height: 2px;
    width: 45px;
    margin: 18px auto 5px;
}
.content p{
    width: 74%;
    text-align: center;
}
.content a{
    color: red;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
.students{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 100px 0px;
}
.students h4::after{
    content: '';
    background: red;
    display: block;
    height: 2px;
    width: 45px;
    margin: 18px auto 5px;
}
.student-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 10px;
    text-align: center;
    width: 90%;
}
.test{
    width:330px;
    text-align: center;
}
.test img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.test h6{
    font-weight: 400px;
    font-size: 20px;
    font-style: bold;
}
.test span{
    font-size: 15px;
    color: #777;
}
.test p{
    font-size: 15px;
    color: #777;
    width: 317px;
}
b{
    font-size: 16px;
    color: #777777;
}
.test i{
    color: red;
}
@media(max-width:1024px){
    .student-part{
       margin: 25px;
    }

}
.placements{
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 90px 0px;
}
.placements h4::after{
    content: '';
    background: red;
    display: block;
    height: 2px;
    width: 45px;
    margin: 18px auto 5px;
}
.place{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}
.place img{
    width: 100px;
}
.contact-part{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f2f2f2;
    height: 170px;
}
.contact-part button{
    border: none;
    background: blue;
    color: white;
    padding: 8px 117px;
    border-radius: 5px;
    font-size: 20px;
}
@media(max-width:600px){
    .contact-part h5{
        font-size: 12px;
    }
    .contact-part button{
        font-size: 12px;
        padding: 4px 80px;
    }
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #091b29;
    color: #798996;
    text-align: center;
    line-height: 1.2;
    height: 220px;
}
.contact h6{
    font-size: 20px;
    font-weight: 400;
    color: #f2f2f2;
}

.contact a{
    text-decoration: none;
    color: #798996;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #05111d;
    color: #798996;
}