* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logopart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 118px;
    width: 100%;
}
.logo{
    margin-left: 20px;
    margin-top: 20px;
}
.logo img {
    width: 175px;
    height: 70px;
}

.nav{
    margin-right: 30px;
    display: flex;
    gap: 20px;
}

.nav a{
    font-size: 15px;
    font-style: bold;
    text-decoration: none;
    color: #000;
}
.menu{
    display: none;
}
.nav-part{
    display: none;
}
.nav-part a{
    font-size: 15px;
    color:#000;
    line-height: 40px;
    text-decoration: none;
}

@media(max-width:990px){
    .menu{
        display: block;
    }
    .nav a{
        display: none;
    }
    .nav-part{
        height: 60vh;
        width: 100%;
        background: #ffffff71;
        position:absolute;
        display: flex;
        top: 118px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;
        z-index: 10;
        backdrop-filter: blur(10px);
    }
    .nav-part a{
        display: block;
        text-align: center;
        line-height: 58px;
        font-weight: 600;        
    }
}

.banner{
    background: url(banner.jpg)no-repeat,center,center;
    background-size: cover;
    height: 539px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner h1{
    font-size: 43px;
    color: white;
}
.banner p{
    color: white;
    line-height: 40PX;
}
.banner button{
    border: none;
    color: white;
    background: blue;
    padding: 10px 10px;
    line-height: 24px;
    font-size: 20px;
    border-radius: 10PX;
    
}
@media(max-width:900px){
    .banner{
        text-align: center;
    }
    .banner h1{
        font-size: 30px;
        text-align: center;
    }
}
h2{
    font-size: 26px;
    text-align: center;
    line-height: 1;
    padding: 30px 0;
}
h2::after {
    content: '';
    background: #fe3f40;
    display: block;
    height: 2px;
    width: 45px;
    margin: 18px auto 5px;
  }

  .mid-part p{
      margin-top: 3px;
      text-align: center;
      color: grey;
  }
.card-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 80px;
}

.card{
    width: 28%;
    height: 425px;
}

.text{
   /* margin-top: 20px;
    margin-left: 10px; */
    padding: 10px 10px;
}
.text h6{
    font-size: 20px;
    font-weight: 400px;
}
.text p{
    text-align:justify;
    font-size: 16px;
    color: grey;
}

@media(max-width:700px){
    .card-section{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    .card{
        width: 60%;
    }
}

@media(max-width:500px){
    .card{
        width: 90%;
    }
    .text{
        padding: 3px 3px;
    }
}

.contact-part{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f2f2f2;
    height: 170px;
}
.contact-part button{
    border: none;
    background: blue;
    color: white;
    padding: 8px 117px;
    border-radius: 5px;
    font-size: 20px;
}
@media(max-width:600px){
    .contact-part h5{
        font-size: 12px;
    }
    .contact-part button{
        font-size: 12px;
        padding: 4px 80px;
    }
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #091b29;
    color: #798996;
    text-align: center;
    line-height: 1.2;
    height: 220px;
}
.contact h6{
    font-size: 20px;
    font-weight: 400;
    color: #f2f2f2;
}

.contact a{
    text-decoration: none;
    color: #798996;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #05111d;
    color: #798996;
}